* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Links */
a {
  color: var(--branco);
  transition: 0.3s;
}
a:hover {
  text-decoration: solid;
}

/* CORES */
:root {
  --cinzaclaro: #f2f2f2;
  --cinzabordas: #afafaf;
  --cinzaescuro: #5a6075;
  --cinzatextos: #3f4351;
  --cinzaplayer: #d9dee2;
  --textobotaobranco: #ff8000;
  --gradiente1: #ff5d00;
  --gradiente2: #ffb600;
  --vermelho: #ff4600;
  --laranja: #ff8b00;
  --branco: #fff;
  --success: #4caf50;
  --error: #f33527;
  --alert: #ff9800;
  --hoverred: red;
  --progressbar-bg: #4adea2;
}

/* body */
body {
  font-family: "Nunito", sans-serif;
  background: var(--cinzaclaro);
  font-size: 16px;
}
main {
  background: url(assets/back-home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* imagens */
.logo {
  width: 8rem;
  margin-left: 3rem;
}

.lupa {
  width: 3rem;
}

/* botoes */
.btnlogin {
  margin-right: 1rem;
  border-color: white;
  color: #ffffff;
  background: transparent;
  border-style: solid;
  border-radius: 3rem;
  width: 12rem;
  height: 3rem;
  cursor: pointer;
}

.btnlogin:hover{
  border-color: var(--hoverred);
  background: var(--hoverred);
  transition: 0.5s;

}


.btnCurso {
  color: var(--branco);
  background: var(--error);
  border-style: hidden;
  border-radius: 3rem;
  width: 254px;
  height: 58px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.btnCurso:hover{
  background-image: linear-gradient(to right, red , yellow);
}

.btnEnsinar {
  border-color: white;
  color: #ffffff;
  background: transparent;
  border-style: solid;
  border-radius: 3rem;
  width: 368px;
  height: 62px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.btnEnsinar:hover{
  border-color: var(--hoverred);
  background: var(--hoverred);
  transition: 0.5s;
}

.botoes {
  margin-top: -3rem;
}

.temCadastro p {
  font-size: 15px;
}

.temCadastro a {
  text-decoration: underline;
}




/* socialShare */

.socialShare{
  display: flex;
  justify-content: center;
}


/* navbar */


.fontNavbar {
  letter-spacing: 2px;
}
.fontNavbar li {
  font-size: 20px;
  color: var(--branco);
  margin-right: 5vh;
}
.fontNavbar li:hover {
  font-weight: 700;
  transition: 0.1s;
}

/* home background*/
.home {
  font-size: 6rem;
  font-weight: normal;
  color: var(--branco);
}
p {
  font-size: 20px;
}
h1 {
  font-size: 5rem;
}

.topo {
  margin-top: 2rem;
}

.imgHome {
  width: 470px;
  margin-bottom: -27rem;
}

/* Imagens section qualidades */

.imgQualidades {
  margin-top: 2rem;
}

.imgQualidades p {
  font-size: 16px;
  color: var(--cinzatextos);
}

.imgQualidades h2 {
  font-size: 26px;
  font-weight: bold;
  color: var(--cinzatextos);
}

/* Colunas dropdown */
/* Columns */
div.dropdown-multicol2 {
  width: 30em;
}
div.dropdown-multicol2 > div.dropdown-col {
  display: inline-block;
  width: 32%;
}

/* medias */

@media (max-width: 1700px) {
  .fontNavbar li {
    font-size: 20px;
    margin-right: 1vw;
  }
}

@media (max-width: 1450px) {
  .fontNavbar li {
    font-size: 15px;
    margin-right: 0.5vw;
   
  }
}

@media (max-width: 1250px) {

  .btnCurso {
    width: 150px;
    height: 70px;
    margin-bottom: 1rem;
  }

  .btnEnsinar {
    width: 250px;
    height: 70px;
    margin-bottom: 1rem;
  }
  .imgHome {
    width: 350px;
  }

  .fontNavbar li {
    font-size: 13px;
    margin-right: 0;
   
  }
}

@media (max-width: 1170px) {
.hideCategorias{
  display: none;
}
}



@media (max-width: 992px) {
  .imgHome {
    width: 50%;
    margin-top: -20rem;
    margin-left: 10vw;
  }
  .imgQualidades {
    margin-top: 0;
  }
  .btnCurso {
    width: 72vw;
    height: 5.8vh;
  }
  .btnEnsinar {
    width: 72vw;
    height: 5.8vh;
  }
  .hideCategorias{
    display: block;
  }
  .hideMenu{
    display: none;
  }
  .hideLupa{
    display: none;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }
  
}
