* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Links */
a {
  color: white;
  transition: 0.3s;
}
a:hover {
  opacity: 0.8;
  text-decoration: solid;
}

/* CORES */
:root {
  --cinzaclaro: #f2f2f2;
  --cinzabordas: #afafaf;
  --cinzaescuro: #5a6075;
  --cinzatextos: #3f4351;
  --cinzaplayer: #d9dee2;
  --textobotaobranco: #ff8000;
  --gradiente1: #ff5d00;
  --gradiente2: #ffb600;
  --vermelho: #ff4600;
  --laranja: #ff8b00;
  --branco: #fff;
  --success: #4caf50;
  --error: #f33527;
  --alert: #ff9800;
  --hoverred: red;
  --progressbar-bg: #4adea2;
}

/* body */
body {
  font-family: "Nunito", sans-serif;
}

/* imagens */
.logo {
  width: 7rem;
  margin-left: 3rem;
}

.lupa {
  margin-top: 1.5rem;
  width: 3rem;
}

/* botoes */
.btnlogin {
  margin-top: 1.5rem;
  border-color: white;
  color: #ffffff;
  background: transparent;
  border-style: solid;
  border-radius: 3rem;
  width: 15rem;
  height: 3rem;
  cursor: pointer;
}


/* navbar */
nav {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Nunito", sans-serif;
  background: transparent;
}

/* navlist */
.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 2px;
  margin-left: 5rem;
  margin-top: 2rem;
}

/* menu mobile */

.menumobile{
    display: none;
    cursor: pointer;
}
.menumobile div {
    width: 30px;
    height: 2px;
    background: var(--branco);
    margin: 8px;
}

/* home background*/
.home {
  background: url(assets/back-home.png);
  margin-top: -6.5rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


/* medias */
@media (max-width: 999px){
    .nav-list{
        position: absolute;
        top: 12vh;
        left: 0;
        width: 100vw;
        height: 90vh;
        background: var(--alert);
        flex-direction: column;
        align-items: center;
        font-weight: bolder;
    }
}